body{
    background-color: rgb(240, 235, 235);
    display: grid;
    place-items: center;
    font-family: 'Cairo', sans-serif;
    font-family: 'Exo 2', sans-serif;
}
.post{
    background-color: white;
    width: 440px;
    height: 390px;
    margin-bottom: 30px;
}
.header{
    margin: 10px;
}
.name{
    float: left;
    font-weight: bolder;
}
.date{
    float: right;
    color: darkgrey;
    font-size: smaller;
}
.image{
    padding-top: 20px;
}
img{
    width: 100%;
    height: 280px;
}
.footer{
    margin: 7px;
}